.book-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  .book-card {
    border: 1px solid #ccc;
    padding: 15px;
    margin: 10px;
    text-align: center;
    width: 250px;
    
    
  }
  .button-card{
    background-color: pink;
    height: 30px;
    border: none;
  }