/* App.css */
.App {
  display: flex;
  flex-direction: column; /* Stack children vertically */
  align-items: center; /* Center children horizontally */
  height: 100vh; /* Use 100% of the viewport height */
}


.Form {
  margin-top: 50px;
  width: 100%; /* Ensure Form takes 100% width */
  max-width: 600px; /* Set a maximum width for better readability */
}
